<% provide(:title, 'create user_classification') %>
<h1>作成</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user_classification) do |f| %>
      <%= f.label :user_classification_name %>
      <%= f.text_field :user_classification_name, class: 'form-control' %>

      <%= f.submit "Create UserClassification", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
